@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --Color-primary:#27AE60;
  --Color-primary-50:#93D7AF;
  --Color-secondary:#EB5757;
  --Color-gray-100:#333333;
  --Color-grey-50:#828282;
  --Color-grey-20:#E0E0E0;
  --Color-grey-05:#F5F5F5;
  --Color-grey-0:#FFFFFF;
  --Color-Negative:#E60000;
  --Color-Warning:#FFCD07;
  --Color-Sucess:#168821;
  --Color-Information:#155BCB;

  font-family: 'Inter', sans-serif;
}